<app-fireworks *ngIf="shouldStartFireworks"></app-fireworks>
<div class="fs-3 fw-bold text-center my-4">{{ question + mysteryCity.name }}?</div>
<mat-grid-list cols="2" rowHeight="1:1" gutterSize="15px">
  <mat-grid-tile
    [ngClass]="
    {'success': answer.isCorrect && answer.isClicked,
    'wrong': !answer.isCorrect && answer.isClicked,
    'clicked': isClicked && !answer.isClicked
    }"
    class="tile" *ngFor="let answer of textAnswers let index = index" (click)="isAnswerCorrect(answer)">
    <p class="px-4 text-center"><span class="pe-2 fs-3 fw-bolder">{{ (HEBREW_LETTERS[index]) + '. ' }}</span>{{ answer.text }}</p>
  </mat-grid-tile>
</mat-grid-list>
