@import '../abstracts/variables';

.w-33 {
  min-width: 33.3%;
}

.green {
  background-color: $dark-green!important;
  color: $white;
  animation: flip 550ms ease forwards;
}

.yellow {
  background-color: $dark-yellow!important;
  color: $white;
  animation: flip 550ms ease forwards;
}

.gray {
  background-color: $dark-gray!important;
  color: $white;
  animation: flip 550ms ease forwards;
}

.swal2-popup {
  font-size: 1.6rem !important;
}

.pointer {
  cursor: pointer;
}

.tile {
  border: 1px solid lightgray;
  border-radius: 2rem;
  cursor: pointer;
}

.tile:hover {
  background-color: black;
  color: white;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.bg-red:hover {
  background-color: red;
  color: black;
}

.bg-green:hover {
  background-color: green;
  color: black;
}

.clicked {
  pointer-events: none;
  color: grey;
}

.clicked:hover {
  background-color: white;
  color: black;
}

.answer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-top: 2rem;
  border-radius: 2rem;
  text-align: center;
  height: 4rem;
  border: 1px solid black;
  font-size: 2rem;
  font-weight: bold;
}

.answer-wrapper {
  display: flex;
  justify-content: center;
}

