@import '../abstracts/variables';

.w-33 {
  min-width: 33.3%;
}

.success {
  background-color:	$success-bg;
}

.wrong {
  background-color: $wrong-bg;
}

.swal2-popup {
  font-size: 1.6rem !important;
}

.pointer {
  cursor: pointer;
}

.tile {
  border: 1px solid lightgray;
  border-radius: 2rem;
  cursor: pointer;
}

.tile:hover {
  background-color: black;
  color: white;
}


.wrong:hover {
  background-color: $wrong-bg;
  color: black;
}

.success:hover {
  background-color: $success-bg;
  color: black;
}

.clicked {
  pointer-events: none;
  color: grey;
}

.clicked:hover {
  background-color: white;
  color: black;
}

.answer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-top: 2rem;
  border-radius: 2rem;
  text-align: center;
  height: 4rem;
  border: 1px solid black;
  font-size: 2rem;
  font-weight: bold;
}

.answer-wrapper {
  display: flex;
  justify-content: center;
}

