<app-x></app-x>
<div class="pb-5 px-5 fs-4">
  <p class="fs-1 fw-bold">איך משחקים?</p>
  <p>עליכם לגלות את היישוב המסתורי בתוך שישה נסיונות או פחות.</p>
  <p>בכל פעם בחרו מתוך הרשימה שם של יישוב בישראל.</p>
  <p>אחרי כל ניחוש היישוב יוצג על המפה ובנוסף תקבלו את המרחק והכיוון מהיישוב של היום.</p>
  <p class="fs-1 fw-bold">דוגמה:</p>
  <app-guess [guess]="firstGuess"></app-guess>
  <p class="pt-2">ניחוש ראשון: טבריה. היישוב המסתורי נמצא במרחק של 111 ק"מ מטבריה לכיוון דרום מערב.</p>
  <app-guess [guess]="secondGuess"></app-guess>
  <p class="pt-2">ניחוש שני: אשדוד. מתקרבים! היישוב המסתורי נמצא במרחק של 27 ק"מ מאשדוד לכיוון צפון מזרח.</p>
  <app-guess [guess]="thirdGuess" [mysteryCityName]="thirdGuess.name"></app-guess>
  <p class="pt-2">ניחוש שלישי: חולון. זה היישוב המסתורי!</p>
</div>
