<app-fireworks *ngIf="shouldStartFireworks"></app-fireworks>
<div class="fs-3 fw-bold text-center my-4">{{ question + mysteryCity.name }}?</div>
<mat-grid-list cols="2" rowHeight="4:1" gutterSize="15px">
  <mat-grid-tile
    [ngClass]="
    {'success': answer.isCorrect && answer.isClicked,
    'wrong': !answer.isCorrect && answer.isClicked,
    'clicked': isClicked && !answer.isClicked
    }"
    class="tile text-center" *ngFor="let answer of rangeAnswers let index = index" (click)="isAnswerCorrect(answer)">
    <span class="ms-2 fw-bolder">{{(HEBREW_LETTERS[index]) + '.'}}</span>
    {{ getFormattedAnswer(answer) }}
  </mat-grid-tile>
</mat-grid-list>

<div class="answer-wrapper mb-5">
  <div class="answer" *ngIf="isClicked">
    <div> {{ answer }}</div>
  </div>
</div>

<mat-accordion *ngIf="step === AREA_LEVEL">
  <mat-expansion-panel (opened)="true"
                       (closed)="false">
    <mat-expansion-panel-header>
      <mat-panel-title class="fw-bold">רמז</mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <p>ירושלים: 125,420 דונם</p>
      <p>חדרה: 50,000 דונם</p>
      <p>רעננה: 15,000 דונם</p>
      <p>קרית אונו: 4,500 דונם</p>
    </div>
  </mat-expansion-panel>
</mat-accordion>


