  <h1 class="title">וורדעל יישובים בישראל <img (click)="openIntroDialog()" class="help-img" alt="?" src="assets/help.png"></h1>
  <div class="page-wrapper">
    <div class="guesses-wrapper">
      <div class="clue-button-wrapper">
      <button *ngIf="currentGuess >= 4 && ! isWin" mat-raised-button type="button"
              (click)="showClue()">{{ clueLevel === 0 ? 'רוצה רמז?' : 'עוד רמז??' }}
      </button>
        <span class="pt-3" *ngIf="isShowClue && clueLevel >= 1">{{ mysteryCity.foundedAt ? 'היישוב המסתורי נוסד בשנת ' + mysteryCity.foundedAt + ' והוא בעל רוב ' + mysteryCity.religion : 'זהו יישוב עתיק שנוסד לפני קום המדינה. היישוב הינו בעל רוב ' + mysteryCity.religion }}</span>
        <span class="pt-3" *ngIf="isShowClue && clueLevel === 2">{{ mysteryCity.trivia }}</span>
      </div>
      <div class="autocomplete-wrapper">
        <form (keydown.enter)="$event.preventDefault()" class="autocomplete-form">
          <mat-form-field class="autocomplete">
            <input (keydown.enter)="enterKeyHandleSelection(autocompleteControl.value)" matInput
                   placeholder="שם העיר, יישוב..." [matAutocomplete]="auto" [formControl]="autocompleteControl">
          </mat-form-field>
          <mat-autocomplete #auto="matAutocomplete" [autoSelectActiveOption]="true">
            <mat-option *ngFor="let option of filteredCities | async" [value]="option.name">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
          <button [disabled]="currentGuess === 6 || isWin" class="guess-button" mat-raised-button type="button"
                  (click)="handleSelection(autocompleteControl.value)">לנחש
          </button>
        </form>
      </div>
      <div class="guesses">
        <div *ngFor="let guess of guesses" class="d-flex justify-content-center">
          <div class="guess guess-name">{{ guess.name }}</div>
          <div class="guess guess-distance">{{ guess.distance !== null ? guess.distance + ' ק"מ' : '' }}</div>

          <div class="guess guess-direction">
            <span [innerHTML]="guess.direction"></span>
            <img *ngIf="guess.name === mysteryCity.name" ngSrc="assets/cup.png" alt="cup" height="25" width="20">
          </div>
          <div class="guess guess-direction">{{ guess.percentage ? (guess.percentage) + '%' : '' }}</div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <a class="donate-link" href="https://ko-fi.com/idanc" target="_blank">אפשר לקנות לי &#9749;!</a>
      </div>
    </div>

    <div class="map-wrapper">
      <google-map *ngIf="apiLoaded | async" #googleMap width="30rem" height="90vh" [options]="options">
        <map-marker *ngFor="let marker of markers"
                    [position]="marker.position"
                    [label]="marker.label"
                    [options]="marker.options"></map-marker>
      </google-map>
    </div>
  </div>
