<app-fireworks *ngIf="shouldStartFireworks"></app-fireworks>
<app-menu [mysteryCity]="mysteryCity" [isWin]="isWin" [guesses]="guesses" [isGameOver]="isGameOver"></app-menu>

  <div class="page-wrapper" [ngStyle]="{zoom: step !== GUESSES_LEVEL && !isMobile ? '125%' : '100%'}">
    <div class="width-container">
      <div class="d-flex justify-content-between mb-4">
        <button *ngIf="isGameOver" [disabled]="step === GUESSES_LEVEL" (click)="navigateBetweenSteps(false)"
                mat-flat-button color="primary" class="my-2 w-25">
          <fa-icon class="fs-2" [icon]="faCircleChevronRight"></fa-icon>
        </button>
        <button *ngIf="isGameOver" mat-flat-button color="primary" class="my-2" [ngSwitch]="step">
          <div *ngSwitchCase="GUESSES_LEVEL">
            <fa-icon class="fs-3" [icon]="faCity"></fa-icon>
            שם היישוב
          </div>
          <div *ngSwitchCase="POPULATION_LEVEL">
            <fa-icon class="fs-3" [icon]="faUsers"></fa-icon>
            אוכלוסייה
          </div>
          <div *ngSwitchCase="AREA_LEVEL">
            <fa-icon class="fs-3" [icon]="faMapLocation"></fa-icon>
            שטח
          </div>
          <div *ngSwitchCase="FOUNDED_YEAR_LEVEL">
            <fa-icon class="fs-3" [icon]="faCalendarDays"></fa-icon>
            שנת ייסוד
          </div>
          <div *ngSwitchCase="TRIVIA_LEVEL">
            <fa-icon class="fs-3" [icon]="faClipboardQuestion"></fa-icon>
            טריוויה
          </div>
          <div *ngSwitchCase="SISTER_LEVEL">
            <fa-icon class="fs-3" [icon]="faGlobe"></fa-icon>
            ערים תאומות
          </div>
        </button>
        <button *ngIf="isGameOver" [disabled]="step === lastLevel" (click)="navigateBetweenSteps(true)"
                mat-flat-button color="primary" class="my-2 w-25">
          <fa-icon class="fs-2" [icon]="faCircleChevronLeft"></fa-icon>
        </button>
      </div>
      <div *ngIf="step === GUESSES_LEVEL" class="guesses-wrapper">
        <div class="clue-button-wrapper" *ngIf="currentGuess >= 4 && ! isGameOver">
          <button [disabled]="isGameOver" mat-raised-button type="button"
                  (click)="showClue()">
            <fa-icon [icon]="faLightbulb"></fa-icon>
            רוצה רמז?
          </button>
          <span class="pt-3"
                *ngIf="isShowClue">{{ ' היישוב המסתורי הינו בעל רוב ' + mysteryCity.religion }}</span>
        </div>
        <div *ngIf="!isGameOver">
          <form (keydown.enter)="$event.preventDefault()" class="autocomplete-form">
            <mat-form-field class="autocomplete">
              <input (keydown.enter)="enterKeyHandleSelection(autocompleteControl.value)" matInput
                     placeholder="שם העיר, יישוב..." [matAutocomplete]="auto" [formControl]="autocompleteControl">
            </mat-form-field>
            <mat-autocomplete #auto="matAutocomplete" [autoSelectActiveOption]="true">
              <mat-option *ngFor="let option of filteredCities | async" [value]="option.name">
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
            <div class="guess-button-wrapper">
              <button [disabled]="currentGuess === 6 || isWin" class="guess-button" mat-raised-button color="primary"
                      type="button"
                      (click)="handleSelection(autocompleteControl.value)">ניחוש
                <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
              </button>
            </div>
          </form>
        </div>
        <div class="d-flex justify-content-center">
          <div class="result" *ngIf="isGameOver">שם היישוב: {{ mysteryCity.name }}</div>
        </div>
        <div class="guesses">
          <div *ngFor="let guess of guesses">
            <app-guess [guess]="guess" [mysteryCityName]="mysteryCity.name"></app-guess>
          </div>
        </div>
      </div>
      <div *ngIf="step === POPULATION_LEVEL" class="guesses-wrapper">
        <app-bonus-level-number-ranges [step]="step"
                                       question="כמה תושבים גרים ב"
                                       [answer]="(mysteryCity.population | number) + ' תושבים'"
                                       [mysteryCity]="mysteryCity" [rangeAnswers]="rangeAnswers">
        </app-bonus-level-number-ranges>
      </div>
      <div *ngIf="step === AREA_LEVEL" class="guesses-wrapper">
        <app-bonus-level-number-ranges [step]="step"
                                       question="מה השטח של "
                                       [answer]="(mysteryCity.area | number) + ' דונם'"
                                       [mysteryCity]="mysteryCity" [rangeAnswers]="rangeAnswers"></app-bonus-level-number-ranges>
      </div>
      <div *ngIf="step === FOUNDED_YEAR_LEVEL" class="guesses-wrapper">
        <app-bonus-level-number-ranges [step]="step"
                                       question="באיזו שנה נוסדה "
                                       [answer]="mysteryCity.foundedAt ? mysteryCity.foundedAt + '' : 'לא ידוע'"
                                       [mysteryCity]="mysteryCity" [rangeAnswers]="rangeAnswers"></app-bonus-level-number-ranges>
      </div>
      <div *ngIf="step === TRIVIA_LEVEL" class="guesses-wrapper">
        <app-bonus-level-text-answers [step]="step"
                                       question="איזה מהפרטים הבאים נכון לגבי "
                                       [answer]="mysteryCity.trivia" [mysteryCity]="mysteryCity"
                                       [textAnswers]="textAnswers"></app-bonus-level-text-answers>
      </div>
      <div *ngIf="step === SISTER_LEVEL" class="guesses-wrapper">
        <app-bonus-level-text-answers [step]="step"
                                      question="מהן הערים התאומות של "
                                      [answer]="mysteryCity.sisterCities ?? 'ללא עיר תאומה'" [mysteryCity]="mysteryCity"
                                      [textAnswers]="textAnswers"></app-bonus-level-text-answers>
      </div>
      <div class="d-flex">
        <button [disabled]="step === lastLevel" *ngIf="isGameOver" (click)="navigateBetweenSteps(true)"
                mat-flat-button color="primary" class="my-5 w-100">
          <fa-icon class="fs-3" [icon]="faSackDollar"></fa-icon>
          שלב בונוס
        </button>
      </div>
      <div *ngIf="step === GUESSES_LEVEL" class="map-wrapper">
        <google-map *ngIf="apiLoaded | async" #googleMap [width]="mapWidth" height="60vh" [options]="mapSettings">
          <map-marker *ngFor="let marker of markers"
                      [position]="marker.position"
                      [label]="marker.label"
                      [options]="marker.options"></map-marker>
        </google-map>
      </div>
      <div class="d-flex justify-content-center">
        <a class="donate-link" href="https://ko-fi.com/idanc" target="_blank">אפשר לקנות לי &#9749;!</a>
      </div>
    </div>
  </div>
