<div class="main">
  <div class="main">
    <form (keydown.enter)="$event.preventDefault()" class="mt-1 d-flex justify-content-center">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="שם העיר, יישוב..." [matAutocomplete]="auto" [formControl]="autocompleteControl">
      </mat-form-field>
    </form>

    <mat-autocomplete [displayWith]="displayFn" #auto="matAutocomplete" (optionSelected)="handleSelection($event.option.value)">
      <mat-option *ngFor="let option of filteredCities | async" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </div>
</div>
<div>
  <div *ngFor="let guess of guesses" class="d-flex">
    <div class="guess">{{ guess.name }}</div>
    <div class="guess">{{ guess.distance !== null ? guess.distance + ' ק"מ' : '' }}</div>
    <div class="guess">{{guess.percentage ? (guess.percentage | number: '1.0-0') + '%' : ''}}</div>
    <div class="guess"><span [innerHTML]="guess.direction"></span></div>
  </div>
</div>
