@import '../scss/main';


.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0;
}

.help-img {
  height: 20px;
  position: relative;
  right: 10%;
  cursor: pointer;
}

.donate-link {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: black;
}

.guess {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #e5e7eb;
  margin: 0.4rem;
  font-size: 1.8rem;
  height: 3rem;

  @include respond(phone) {
    font-size: 1.2rem;
  }
}

.guess-name {
  width: 18rem;
}

.guess-distance {
  width: 12rem;
}

.guess-direction {
  width: 6rem;
}

.clue-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  max-width: 48rem;
}

.guess-button {
  height: 5.4rem;
  margin-right: 1.1rem;
  @include respond(phone) {
    align-self: center;
    margin: -1rem 0 0.5rem 0;
    height: 2.5rem;
    width: 50%;
  }
}

.autocomplete {
  width: 100%;
}

.game-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;

  @include respond(phone) {

  }
}

.guesses {
  @include respond(phone) {
    width: 100%;
    padding: 0 10px;
  }
}

.map-wrapper {
  display: flex;
  justify-content: center;

  @include respond(phone) {
    margin: 0;
  }
}

.guesses-wrapper {
  @include respond(phone) {
    width: 100%;
  }
}

.page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include respond(phone) {

  }
}

.autocomplete-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}

.autocomplete-form {
  display: flex;
  justify-content: center;
  width: 100%;

  @include respond(phone) {
    flex-direction: column;
  }
}
