@import '../scss/main';

.page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.width-container {
  width: 430px;
  @include respond(phone) {
    width: 95%;
  }
}

.donate-link {
  display: block;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}
