<p *ngIf="!isGameOver" class="text-center">עליכם לגלות היכן במפה נמצא היישוב המוצג על המסך</p>
<div *ngIf="!isGameOver" class="text-center">שאלה {{ (cityIndex + 1) + '/10' }}</div>
<div class="d-flex justify-content-center mb-5">
  <div class="centered-content">
    <div>{{
        isGameOver ?
          'ציון:' + grade + ' / 100' :
          cities[cityIndex].name
      }}
    </div>
  </div>
</div>
<app-next-challenge-timer *ngIf="isGameOver"></app-next-challenge-timer>
<ng-container *ngIf="isGameOver">
  <div style="max-height: 100px; overflow-y: scroll">
    <table class="table" [ngClass]="isDarkMode ? 'table-dark' : ''">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">שם העיר</th>
        <th scope="col">מרחק</th>
        <th scope="col">ציון</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of summary; let i = index" (mouseover)="onHoverRow(item)">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ item.name }}</td>
        <td>{{ item.distance }} ק"מ</td>
        <td>{{ item.grade }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-container>
<p *ngIf="isGameOver" class="text-center"></p>
<div class="d-flex justify-content-center">
  <google-map *ngIf="apiLoaded | async" #googleMap [width]="mapWidth" height="80vh"
              (mapClick)="locationSelected($event)" [options]="mapSettings">
    <map-marker *ngFor="let marker of markers"
                [position]="marker.position"
                [label]="marker.label"
                [options]="marker.options"></map-marker>
  </google-map>
</div>
