@import '../../scss/main';

.donate-link {
  display: block;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.clue-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 22px;
  max-width: 48rem;
}

.game-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;

  @include respond(phone) {

  }
}

.guesses {
  @include respond(phone) {
    width: 100%;
    padding: 0 10px;
  }
}

.map-wrapper {
  display: flex;
  justify-content: center;

  @include respond(phone) {
    margin: 0;
  }
}

.guesses-wrapper {
  @include respond(phone) {
    width: 100%;
  }
}

.page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



.width-container {
  width: 430px;
  @include respond(phone) {
    width: 95%;
  }
}

.result {
  text-align: center;
  border: 1px solid;
  font-size: 2rem;
  border-radius: 1rem;
  width: 56%;
  height: 4rem;
  line-height: 2;
  margin-bottom: 10px;
}

.stepTitle {
  background: rgb(63, 81, 181);
  color: white;
  width: 15rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.4rem;
}
